	table, th, td, caption {
		border: thin solid #a0a0a0;
	}
	table {
		border-collapse: collapse;
		border-spacing: 0;
		border-width: thin 0 0 thin;
		margin: 0 0 1em;
		table-layout: auto;
		max-width: 100%;
	}
	th, td {
		font-weight: normal;
		text-align: left;
	}
	th, caption {
		background-color: #f1f3f4;
		font-weight: 700;
	}
	pre {
		background-color: #f1f3f4;
		color: black;
		font-family: Fixedsys, Courier, monospace;
		padding: 1em;
	}
	code {
		font-family: monospace;
		white-space: pre;
	}
.btn-group button {
  background-color: #04AA6D; /* Green background */
  border: 1px solid green; /* Green border */
  color: white; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  width: 50%; /* Set a width if needed */
  display: block; /* Make the buttons appear below each other */
}

.btn-group button:not(:last-child) {
  border-bottom: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: #3e8e41;
}
